

<div class="widget p-4 module-goal">
        
        <h4 class="mb-4"><i class="bi bi-cash-coin icon-right"></i>{{ module.header }}</h4>
        <div class="progress">
            <div class="progress__bar" style="width:{{ module.percentage }}%;"></div>
                {% if module.displayAmount %}
                    <h3>{{ module.total }} / {{ module.target }} {{ store.currency }} ({{ module.percentage }}%)</h3>
    		    {% endif %}
    		    {% if module.displayAmount == false %}
    			    <h3>{{ module.percentage }}% Completed</h3>
    		    {% endif %} 
        </div>
</div>