

<div class="p-4 module--topdonator d-flex">
    <div class="skin">
        {% if module.ign %}
            <img src="https://mc-heads.net/body/{{module.ign}}" class="unselectable drop-shadow" id="topDonatorAvatar" data-username="{{module.ign}}"/>
        {% else %}
            <img src="https://mc-heads.net/body/MHF_Steve" class="unselectable drop-shadow" id="topDonatorAvatar"/>
        {% endif %}
    </div>
    <div class="desc d-flex flex-column align-items-start justify-content-center">
        <h4 class="text-shadow"><i class="bi bi-award-fill icon-right"></i>Top Donator</h4>
        {% if module.ign %}
            <p class="text-shadow">{{ module.ign }},</p>
            <p class="text-shadow">
                {% if module.displayAmount %}
                    {{ __("donated") }} {{ module.total|money }} <small>{{ store.currency }}</small>
                {% else %}
                    {{ __("donated the most ") }}
                {% endif %}
                
                {% if module.period == "hourly" %}
                    {{ __("this hour.") }}
                {% elseif module.period == "daily" %}
                    {{ __("today.") }}
                {% elseif module.period == "monthly" %}
                    {{ __("this month.") }}
                {% elseif module.period == "yearly" %}
                   {{ __("this year.") }}
                {% else %}
                    {{ __("this week.") }}
                {% endif %}    
            </p>
        {% else %}
            <p class="text-shadow">Your name and skin can be here!</p>
        {% endif %}
    </div>
</div>